**/node_modules
**/oh_modules
**/.preview
**/build
**/.test
**/.cxx
**/BuildProfile.ets
**/oh-package-lock.json5
**/package-lock.json
/plugins/maasRouterPlugin/viewBuilder.tpl
/local.properties
/.idea
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
/.appanalyzer
/products/entry/patch.json